body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #666;
}

#container {
    max-width: 70%;
    align-content: center;
    border: 5px solid rgb(2, 0, 128);
    border-radius: 5px;
    margin: auto;
    background-color: aliceblue;
}

#contenido{
    font-family: Arial, Helvetica, sans-serif;
}
#cabecera{
    background-color: rgb(2, 0, 128);
    color: white;
    font-size: 24px;
    text-align: left;
    padding: 10px;
}
#cabecera span{
    font-size: 18px;
    /* padding-left: 10px; */
}
#logo{
    max-width: 24px;
    max-height: 24px;
}