body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}

#container {
    max-width: 70%;

    border: 5px solid blue;
}

#contenido{
    font-family: 'Courier New', Courier, monospace;
}